{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">Eliminar usuario</h3>
                </center>
            </div>

            <form class="form-horizontal" method="POST" action="/usuario/deleteusuario/">
                {% for row in data %}
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cod. Libro</label>

                        <div class="col-sm-10">
                            <input name="cod_libro" value="{{ row[1] }}" type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cod. Lector</label>

                        <div class="col-sm-10">
                            <input name="cod_lector" value="{{ row[2] }}" type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">F. Devolucion</label>

                        <div class="col-sm-10">
                            <input name="fecha_devolucion" value="{{ row[3] }}" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <a href="/usuario/"><button type="button" class="btn btn-default">Cancel</button></a>
                    <input name="delete" type="submit" class="btn btn-info pull-right" value="Delete">
                </div>
                {% endfor %}
            </form>
        </div>
    </section>
</div>

{% endblock %}