{% extends 'layout.html' %}

{% block body %}
<div class="content">
    <section class="content-header">
        {% for message in get_flashed_messages()%}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message }}
        </div>
        {% endfor%}
    </section>
    <section class="content">
        <div class="box-header">
            <a href="/usuario/prestamos/">
                <center>
                  <button type="button" class="btn btn-secondary btn-flat">
                    <span class="glyphicon glyphicon-align-justifys"></span> Lista de Prestamos
                  </button>
                </center>
              </a>
        </div>
      <div>
        <center><h1>Lista de Libros</h1></center>
      </div>
        <div class="box box-dark">
          <div class="box box-header">
          </div>
        </div>
        <div class="box-body">
                <table id="dataphone" class="table table-bordered table-striped">
                    <thead align="center">
                      <tr>
                        <th>ID</th>
                        <th>Genero</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Accion</th>
                      </tr>
                    </thead>
          
                    <tbody>
                      {% if data|length == 0 %}
                      <tr>
                        <td>No Data</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      {% else %}
                      <tr>
                        {% for row in data %}
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td align="center">
                          <a href="http://quelibroleo.com/it-eso">
                            <button type="button" class="btn btn-sm btn-primary btn-flat" title="info"><span
                                class="glyphicon glyphicon-info-sign"></span></button>
                          </a>
                          <a href="/usuario/lector/">
                            <button type="button" class="btn btn-sm btn-success rimary btn-flat" title="Lector"><span
                                class="glyphicon glyphicon-user"></span></button>
                          </a>
                          <a href="/usuario/prestamo/">
                            <button type="button" class="btn btn-sm btn-info rimary btn-flat" title="Prestamo"><span
                                class="glyphicon glyphicon-eject"></span></button>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                      {% endif%}
                    </tbody>
                </table>
        </div>
    </section>
</div>

{% endblock %}