{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">Registro de Lectores</h3>
                </center>
            </div>
        </div>
        <form class="form-horizontal" method="POST" action="/usuario/addlector/">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Codigo</label>

                    <div class="col-sm-10">
                        <input name="id_lector" type="text" class="form-control" placeholder="Codigo" autocomplete="off"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>

                    <div class="col-sm-10">
                        <input name="nombre_lector" type="text" class="form-control" placeholder="Nombre" autocomplete="off"
                            required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Direccion</label>

                    <div class="col-sm-10">
                        <input name="direccion" type="text" class="form-control" placeholder="Direccion"
                            autocomplete="off" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Telefono</label>

                    <div class="col-sm-10">
                        <input name="telefono" type="text" class="form-control" placeholder="Telefono"
                            autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input name="email" type="text" class="form-control" placeholder="Email"
                            autocomplete="off" required>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <a href="/usuario/"><button type="button" class="btn btn-default">Cancel</button></a>
                <input name="save" type="submit" class="btn btn-info pull-right" value="Save">
            </div>

        </form>

    </section>
</div>
{% endblock %}