{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">Registro de Lectores</h3>
                </center>
            </div>
        </div>
        <form class="form-horizontal" method="POST" action="/usuario/prestamisimo/">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cod. Libro</label>

                    <div class="col-sm-10">
                        <input name="cod_libro" type="text" class="form-control" placeholder="Codigo del libro" autocomplete="off"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cod. Lector</label>

                    <div class="col-sm-10">
                        <input name="cod_lector" type="text" class="form-control" placeholder="Codigo del lector" autocomplete="off"
                            required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">F. Prestamo</label>

                    <div class="col-sm-10">
                        <input name="fecha_prestamo" type="text" class="form-control" placeholder="YYYY-MM-DD"
                            autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">F. Devolucion</label>

                    <div class="col-sm-10">
                        <input name="fecha_devolucion" type="text" class="form-control" placeholder="YYYY-MM-DD"
                            autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Dias</label>

                    <div class="col-sm-10">
                        <input name="dias_prestamo" type="text" class="form-control" placeholder="Dias"
                            autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="/usuario/"><button type="button" class="btn btn-default">Cancel</button></a>
                <input name="save" type="submit" class="btn btn-info pull-right" value="Save">
            </div>

        </form>

    </section>
</div>
{% endblock %}