{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <section class="content-header">
        {% for message in get_flashed_messages()%}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message }}
        </div>
        {% endfor%}

    </section>

    <section class="content">

        <div class="box box-primary">
            <center><h1>Lista de los Prestamos Realizados</h1></center>
        </div>
            <div class="box-body">
                <table id="dataphone" class="table table-bordered table-striped">
                    <thead align="center">
                      <tr>
                        <th>Cod. Libro</th>
                        <th>Cod. Lector</th>
                        <th>F. Devolucion</th>
                        <th>Accion</th>
                      </tr>
                    </thead>
          
                    <tbody>
                      {% if data|length == 0 %}
                      <tr>
                        <td>No Data</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      {% else %}
                      <tr>
                        {% for row in data %}
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td align="center">
                            <a href="/usuario/update/{{ row[0]}}">
                                <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                          <a href="/usuario/delete/{{ row[0]}}">
                            <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span
                                class="glyphicon glyphicon-remove"></span></button>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                      {% endif%}
                    </tbody>
                  </table>
            </div>
    </section>

</div>


{% endblock %}